
:root {
  --text-gray-blue-dark: hsl(238, 29%, 17%);
  --text-gray-blue: hsl(237, 12%, 33%);
  --text-divider: hsl(240, 5%, 91%);
  --white: hsl(0, 0%, 100%);

  // Background:
  --violet: hsl(273, 75%, 66%);
  --soft-blue:  hsl(240, 73%, 65%);

  // Box shadow:
  --shadow-blue: hsla(260, 74%, 27%, 0.497);

  // Hover:
  --orange: hsl(14, 88%, 65%);
}
























